p,button,div{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Title-Middel,.Title-Description,.Title-Top,.Button-Buy{
    font-weight: bold;
}
.Title-Top{
    color: orange;
    font-size: 14px;
    margin-bottom: 0px;
}
.Title-Middel{
    margin-top:3px;
    font-size: 25px;
    margin-bottom:0px
}
.Title-Description{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
}
.Title-Price{
    font-size:17px;
    margin-top:8px;
    margin-bottom:0px;
}
.Button-Buy{
    margin-top:14px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:18px;
    padding-right:18px;
    border-radius: 18px;
    border: 1px;
    background-color:rgb(0, 119, 255);
    color:white;
}
.Button-Buy:hover{
    transition: opacity 0.1ms, background-color 0.1ms, color 0.1ms;
    opacity: 0.8;
    background-color:rgb(0, 119, 255);
    color:white;
}
.Button-Buy:active{
    transition: opacity 2ms, background-color 2ms, color 2ms;
    opacity: 1;
    background-color:white;
    color:rgb(0, 119, 255);
}